# oauth.env.sample
PROVIDERS_GOOGLE_CLIENT_ID=abcx1234.apps.googleusercontent.com
PROVIDERS_GOOGLE_CLIENT_SECRET=abcx1234
SECRET=abcx1234
COOKIE_DOMAIN=sample.com
INSECURE_COOKIE=false
WHITELIST=sampleA@gmail.com,sampleB@gmail.com
LOG_LEVEL=debug
AUTH_HOST=oauth.sample.com
