# Mealie.env.sample
DB_ENGINE=postgres
POSTGRES_USER=mealie_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_SERVER=postgres_server_ip
POSTGRES_PORT=5432
POSTGRES_DB=mealie_db
PUID=your_user_id
PGID=your_group_id
BASE_URL=your_base_url
RECIPE_PUBLIC=False
RECIPE_DISABLE_COMMENTS=True
AUTO_BACKUP_ENABLED=True
