# Environment variables for PhotoPrism service
# Copy this file to `Photoprism.env` and replace the placeholder values with your actual configuration.

PUID=<user_id>
PGID=<group_id>
PHOTOPRISM_ADMIN_PASSWORD=<your_admin_password>
PHOTOPRISM_SITE_URL=<your_site_url>
PHOTOPRISM_ORIGINALS_LIMIT=<file_size_limit_for_originals_in_MB>
PHOTOPRISM_HTTP_COMPRESSION=<none_or_gzip>
PHOTOPRISM_DEBUG=<true_or_false>
PHOTOPRISM_PUBLIC=<true_or_false>
PHOTOPRISM_READONLY=<true_or_false>
PHOTOPRISM_EXPERIMENTAL=<true_or_false>
PHOTOPRISM_DISABLE_CHOWN=<true_or_false>
PHOTOPRISM_DISABLE_WEBDAV=<true_or_false>
PHOTOPRISM_DISABLE_SETTINGS=<true_or_false>
PHOTOPRISM_DISABLE_TENSORFLOW=<true_or_false>
PHOTOPRISM_DISABLE_FACES=<true_or_false>
PHOTOPRISM_DISABLE_CLASSIFICATION=<true_or_false>
PHOTOPRISM_DARKTABLE_PRESETS=<true_or_false>
PHOTOPRISM_DETECT_NSFW=<true_or_false>
PHOTOPRISM_UPLOAD_NSFW=<true_or_false>
PHOTOPRISM_DATABASE_DRIVER=<database_driver>
PHOTOPRISM_DATABASE_SERVER=<database_server_ip_and_port>
PHOTOPRISM_DATABASE_NAME=<database_name>
PHOTOPRISM_DATABASE_USER=<database_user>
PHOTOPRISM_DATABASE_PASSWORD=<database_password>
PHOTOPRISM_SITE_TITLE=<your_site_title>
PHOTOPRISM_SITE_CAPTION=<your_site_caption>
PHOTOPRISM_SITE_DESCRIPTION=<your_site_description>
PHOTOPRISM_SITE_AUTHOR=<your_site_author>
HOME=/photoprism

