# BoxDB.env.sample - Sample environment variables for BoxDB service

# User and Group identifiers
PUID=1000
PGID=1000

# MySQL Configuration
MYSQL_ALLOW_EMPTY_PASSWORD=no
MYSQL_ROOT_PASSWORD=your_mysql_root_password # Set the MySQL root password
MYSQL_USER=your_mysql_user
MYSQL_DATABASE=your_mysql_database
MYSQL_PASSWORD=your_mysql_user_password
MYSQL_ROOT_HOST=% # Allows connections from any host

